<% if user_signed_in? %>
    <%= current_user.name %>
    <a href="/users/sign_out" data-method="delete">로그아웃</a>
<% else %>
    <a href="/users/sign_in">로그인</a>
<% end %>
<h3>글 리스트</h3>
<table>
    <tr>
        <th>작성자</th>
        <th>제목</th>
        <th>내용</th>
        <th>버튼</th>
    </tr>
    <% @boards.each do |board| %>
        <tr>
            <td><%= board.user.name %></td>
            <td><%= board.title %></td>
            <td><%= board.content %></td>
            <td>
                <a href="/boards/show/<%= board.id %>">보기</a>
                <% if current_user == board.user %>
                    <a href="/boards/edit/<%= board.id %>">수정</a>
                    <a href="/boards/destroy/<%= board.id %>">삭제</a>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<a href="/boards/new">글 작성하기</a>